<div class="row white">
  <div class="col s12">
    <div class="row">
      <h4 class="center-align">Cartelera semanal</h4>
    </div>
    <div class="row">
      <div class="col s12 m2 l2 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img src="./assets/images/posters/BatmanVSSuperman.jpg" class="activator">
        </div>
        <div class="card-content">
          <a>
            <i class="fas fa-heart"></i>
          </a>
          <a>
            <i class="fab fa-youtube"></i>
          </a>
          <a>
            <i class="fas fa-bookmark"></i>
          </a>
          <a>
            <i class="fas fa-language"></i>
          </a>
          <a>
            <i class="fas fa-share-alt"></i>
          </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre película
            <i class="material-icons">close</i>
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>