<div class="row blue-grey lighten-4 filter">
  <h6 class="left-align"><strong>Compra tus entradas online</strong></h6>
  <div class="input-field col s12 m3 l3">
    <select>
      <option value="" selected>Fecha</option>
      <option>1</option>
      <option>1</option>
      <option>1</option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select>
      <option value="" selected>Película</option>
      <option>1</option>
      <option>1</option>
      <option>1</option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select>
      <option value="" selected>Formato</option>
      <option>1</option>
      <option>1</option>
      <option>1</option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select>
      <option value="" selected>Hora</option>
      <option>1</option>
      <option>1</option>
      <option>1</option>
    </select>
  </div>
</div>