<div class="row white">
  <div class="carousel">
    <a class="carousel-item"><img src="./assets/images/promociones/1.png"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/2.jpeg"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/3.jpg"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/4.png"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/5.jpg"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/6.jpg"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/7.jpg"></a>
    <a class="carousel-item"><img src="./assets/images/promociones/8.jpg"></a>
  </div>
</div>